pandas
requests
pyarrow
jupyter
dvc
xlrd == 2.0.1
beautifulsoup4 
lxml
selenium 
webdriver-manager
scikit-learn
matplotlib
seaborn
xgboost
prophet
tensorflow
mlflow
shap
fastapi
uvicorn
pydantic
pytest
httpx